/* ---------------------- Lower Header ---------------------- */
.lowerHeader {
  display: flex;
  align-items: center;
  background-color: #232f3e;
  padding: 10px 20px;
  color: white;
  flex-wrap: wrap;

  position: sticky;  /* make it sticky */
  top: 0px;            /* stick to top */
  z-index: 99;      /* above other content */
}


.lowerHeaderItem {
  margin-right: 15px;
  white-space: nowrap;
  cursor: pointer;
  color: inherit;           /* inherit white from parent */
  text-decoration: none;    /* remove underline */
}

.lowerHeaderItem:hover {
  text-decoration: underline;
}

.lowerHeaderToggle {
  display: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
  color: white;
}

/* ---------------------- Responsive ---------------------- */
@media (max-width: 1024px) {
  .deliver {
    display: none;
  }

  .search {
    flex: 1 1 100%;
    margin: 5px 0;
    max-width: 100%;
  }

  .nav {
    width: 100%;
    justify-content: space-around;
    margin-top: 5px;
  }

  .lowerHeader {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .lowerHeaderItem:not(:first-child) {
    display: none;
  }

  .lowerHeaderToggle {
    display: block;
    color: white;
  }
}